
@{
    ViewBag.Title = "Tenants";
}

<h2>Tenants</h2>
<hr />
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fulano de Tal</td>
                <td>50 Antilla Ave apt 7, Miami FL 33135</td>
                <td>05/03/1983</td>
                <td>@Html.ActionLink("Details", "Details", "Tenants")</td>
            </tr>
        </tbody>
    </table>
</div>
