
@{
    ViewBag.Title = "Transactions";
}

<h2>Recent Transactions</h2>
<hr />
<div class="row">
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Date Created</th>
                <th>Paid by</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>50 Antilla - Monthly Rent</td>
                <td>$1700.00</td>
                <td>02/03/1983</td>
                <td>Tenant</td>
            </tr>
            <tr>
                <td>50 Antilla - Home Owners Association</td>
                <td>$200.00</td>
                <td>02/10/1983</td>
                <td>Owner</td>
            </tr>
        </tbody>
    </table>
</div>
